:root {
  --card-set-gap: 24px;

  --main-text-color: #2e2f42;
  --second-text-color: #434455;
  --hover-link-color: #404bbf;
  --logo-brand-color: #4d5ae5;
  --white-text-color: #ffffff;
  --footer-logo-color: #f4f4fd;
  --footer-text-color: #e7e9fc;

  --main-background-color: #ffffff;
  --second-background-color: #f4f4fd;
  --btn-background-color: #4d5ae5;
  --hover-background-color: #404bbf;
  --dark-background-color: #2e2f42;

  --border-color: #e7e9fc;
}

*,
*::before,
*::after {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--hover-link-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.btn {
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;

  cursor: pointer;
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ----------HEADER------------ */

.header {
  border-bottom: 1px solid var(--border-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  margin-right: auto;
  gap: 40px;
}

.navigation-logo {
  margin-right: 76px;
  color: inherit;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-part {
  color: var(--logo-brand-color);
}

/* .navigation .item {
  padding-top: 24px;
  padding-bottom: 24px;
} */

.navigation-link {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation-link.current {
  color: var(--hover-link-color);
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  color: var(--second-text-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--logo-brand-color);
}
/* -----------HERO----------- */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;

  background-color: var(--dark-background-color);
}

.hero-title {
  margin: 0 auto 48px;
  max-width: 494px;
  text-align: center;

  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: var(--white-text-color);
}

.hero-btn {
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;

  line-height: 1.19;

  color: var(--white-text-color);
  background-color: var(--btn-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-background-color);
}

/* -----------PREFERENCES----------- */


.preferences-list {
  display: flex;
  gap: var(--card-set-gap);
}
.preferences .item {
  width: calc((100% - (3 * var(--card-set-gap))) / 4);
}

 .preferences-subtitle {
  margin-bottom: 8px;
 }

.preferences-text {
  color: var(--second-text-color);
}

/* -----------WORK----------- */

.work {
  padding-top: 0px;
}

.work-title {
  margin-bottom: 72px;
}

.work-list {
  display: flex;
  gap: var(--card-set-gap);
}
.work-list .item {
  width: calc((100% - (2 * var(--card-set-gap))) / 3);
}

/* -----------TEAM----------- */

.team {
  background-color: var(--second-background-color);
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  margin-left: calc(-1 * var(--card-set-gap));
}

.team-list > .item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--main-background-color);
}

.card-wrap {
  padding: 32px 16px;
}

.team-name {
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  text-align: center;
  color: var(--second-text-color);
}

/* -----------FOOTER----------- */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--dark-background-color);
}

.footer-logo {
  margin-bottom: 16px;
  color: var(--footer-logo-color);
}

.footer-text {
  width: 264px;
  color: var(--footer-text-color);
}

/* -----------PORTFOLIO----------- */
.portfolio {
  padding-top: 96px;
}

.filter-list {
  display: flex;
  gap: var(--card-set-gap);
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  width: 586px;
}

.filter-list .btn {
  padding: 12px 24px;

  min-width: 126px;
  height: 48px;

  line-height: 1.5;
  color: var(--logo-brand-color);
  background-color: var(--second-background-color);
  border: 1px solid var(--border-color);
}

.filter-list .btn:hover,
.filter-list .btn:focus {
  color: var(--white-text-color);
  background-color: var(--hover-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--card-set-gap);
  row-gap: calc(2 * var(--card-set-gap));
}

.portfolio-list > .item {
  width: calc((100% - (2 * var(--card-set-gap))) / 3);
  background-color: var(--main-background-color);
}

.text-wrap {
  padding: 32px 53px 32px 16px;
  border: 1px solid var(--border-color);
  border-top: 0;
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.portfolio-type {
  color: var(--second-text-color);
}
